.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.container{
    margin-top: 10px;
    float: none;

}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;;
}

#articleFields{
    display: none;
}

.theadTemp{
    font-weight: bold;
}

#1-content{
    display: none;
}

.header-active{
    color: #000;
}

#nameT, #dateT{
    color: #3A5FCD;
}

#typeT{
    color: #363636;
}

#error, #error1, #error2, #error-u{
    color: red;
}
